{% extends 'base.html'%}
{% block content%}

<h3>Все товары</h3>
<table class="table-success table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">имя</th>
      <th scope="col">фамилия</th>
      <th scope="col">возраст</th>
      <th scope="col">телефон</th>
    </tr>
  </thead>
  <tbody>
    {% for costumer in costumers %}
    <tr>
      <td>{{costumer.name}}</td>
      <td>{{costumer.surname}}</td>
      <td>{{costumer.age}}</td>
      <td>{{costumer.phone}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}