{% extends 'base.html'%}
{% block content%}

<h3>Все товары</h3>
<table class="table-success table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">цена</th>
      <th scope="col">размер</th>
      <th scope="col">цвет</th>
    </tr>
  </thead>
  <tbody>
    {% for cl in page_obj %}
    <tr>
      <td>{{cl.name}}</td>
      <td>{{cl.price}}</td>
      <td>{{cl.size}}</td>
      <td>{{cl.color}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



    <nav >
  <ul class="pagination">
{#    <li class="page-item disabled">#}
{#      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>#}
{#    </li>#}
    {% if page_obj.has_previous %}
        <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt</a>
        </li>
        {% endif %}
   {% for p in page_obj.paginator.page_range %}


       {% if page_obj.number == p %}
       <li class="page-item active" aria-current="page">
	    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
    </li>
{% elif p >= page_obj.number|add:-3 %}
{#       {% else %}#}
    <li class="page-item">
	<a class="page-link" href="?page={{ p }}">{{ p }}</a>
    </li>

       {% endif %}
      {% endfor %}

  {% if page_obj.has_next %}
     <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt</a>
        </li>
        {% endif %}
{#    <li class="page-item active" aria-current="page">#}
{#      <a class="page-link" href="#">2</a>#}
{#    </li>#}
{#    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#    <li class="page-item">#}
{#      <a class="page-link" href="#">Next</a>#}
{#    </li>#}
  </ul>
</nav>

{% endblock %}
