{% extends 'base.html'%}
{% block content%}

<h3>Все товары</h3>
<table class="table-success table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">цена</th>
      <th scope="col">размер</th>
      <th scope="col">цвет</th>
    </tr>
  </thead>
  <tbody>
    {% for cl in clothes %}
    <tr>
      <td>{{cl.name}}</td>
      <td>{{cl.price}}</td>
      <td>{{cl.size}}</td>
      <td>{{cl.color}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
